
/*header*/

.container img {
	width:8rem;
  height: 8rem;
  max-width:100%
}
/**
 limiteerd de width op grotere schermen
 */
.main-header{
  background-color:#f1c200;
 border-width:0.2rem;
 border-bottom: solid;
 border-top:solid;
 border-color:#ffa500;
}
.container {
	width: 100%;
	max-width: 100%;
}
/*Door het gebruik van display: flex, staan het logo en de nav in 2 kolommen,
 align-items, zorgt ervoor dat ze verticaal gecentreerd staan,
 justify content verdeeldt de whitespaces horizontaal
 en flex-wrap zorgt ervoor dat alles mooi in 2 gedeeldt wordt op kleinere schermen
 */
.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
  background-color:#f1c200;
}
.main-nav{
  margin:0;
}
/*zorgt ervoor dat alles mooi gecentreerd staat*/
.main-nav ul {
 margin:0rem;
	text-align: center;
  padding:0rem;
}
.main-nav li {
	display: inline;
}
.main-nav li:not(:first-child){
  margin-left:5rem;
}
.main-nav a {
  text-transform:uppercase;
	display: inline-block;
	text-decoration:none;
  color:black;
 font-size:1.8rem;
 font-family: 'Roboto', sans-serif;
 margin:0rem;
}
.main-nav a:hover{
  color:#f3ff00;
}

input{
  border-style:solid;
  border-color:#ffa500;
  border-width: 0.2rem;
  width:10%;
  height:2rem;
}
input::placeholder{
  color:black;
 font-size:1.25rem;
 font-family: 'Khand', sans-serif;
 padding-left:0.5rem;
}
.socials ul{
  margin: 1rem 0 .5rem; /* 1st arg = top & bottom, 2nd arg = left & right */
  text-align: center;

}
.socials li {
  display: inline;

}
.socials a{
  display: inline-block;
  padding: .5rem 1.5rem;
  text-decoration:none;

}
.socials img{
  width: 2rem;
  height: 2rem;
  margin:0rem;
}

/*footer*/
.main-footer p{
  color:#000000;
  font-family:  'Roboto', sans-serif;
  font-size:1.6rem;
  margin:0;
}
.main-footer{
  background-color:#f1c200;
  border-style:solid;
  border-width:0.2rem;
  border-top-color:#ff8c00;
  border-bottom-color:#ff8c00;
 border-left:none;
 border-right:none;
}
.main-footer .container{
  display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.footer-nav{
  margin: 1rem 0 .5rem;
	text-align: center;
}
.footer-nav li{
  display: inline;
}
.footer-nav a{
  display: inline-block;
  padding: .5rem 1.5rem;
  text-decoration:none;
  text-transform:uppercase;
  color:#000000;
  font-family: 'Roboto', sans-serif;
  font-size:1.6rem;
}
.footer-nav a:hover{
  color:#f3ff00;
}
.main-footer button{
  color:#000000;
  background-color:#ff8c00;
  font-family: 'Roboto', sans-serif;
  font-size:1.6rem;
  text-transform:uppercase;
  border-style:solid;
  border-radius:0.2rem;
  border-width:0.2rem;
  border-color:#ff8c00;
  margin:0;
  padding:0.4rem;
}
.main-footer button:last-child{
  margin-right:0.5rem;
}
.main-footer button:hover{
  background-color:#f3ff00;
  color:#;
}
.footer-socials li {
  display: inline;
}
.footer-socials a{
  display: inline-block;
  padding: .5rem 1.5rem;
  text-decoration:none;

}
.footer-socials img{
  width: 1.5rem;
  height: 1.5rem;
  margin:0rem;
  margin-right:0.3rem;
}
