html{
  font-size: 62.5%; /*1rem = 10px, werk aub met rem*/
}

body{
	font-family: 'Roboto', sans-serif;
	background-color:	#ffbc40;
}
//*===============================================================*/
/*Geen idee wat dit is [???]*/
/*===============================================================*/
/*Gebruik een pagina -id!*/
.topbanner{
	width:100%;
	height: 150px;
}

.hidden{
	display: none;
}

.biervdweek{
	align-items: center;
	font-size: 60;
	text-align: left;
    color: white;
	width: 30%;
	box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-repeat: no-repeat;
    border: solid 1px #3498db;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 1.5rem 6rem;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(-90deg, red,orange);

}

.topvijf{
	font-size: 40;
    font-weight: bold;
	text-align: left;
	width: 30%;
    color:white;
	box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;

    background-repeat: no-repeat;
    border: solid 1px #3498db;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 1.5rem 6rem;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(-90deg, orange,red);

}

.headline{
	text-align: center;
	font-style: normal;
	font-size:8rem;
    font-weight: bold;
    float:right;
	-webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
   padding:4rem;
}

.introtext{
    font-size:2rem;
   padding:5rem;
}


.beerlist{
width:410px;
margin:0 auto;
}
.beerlist ul {
list-style-type: none;
list-style-type: decimal !ie; /*IE 7- hack*/
margin: 0;
margin-left: 1em;
padding: 0;
counter-reset: li-counter;
}
.beerlist ul li{
position: relative;
margin-bottom: 1.5em;
padding: 0.5em;
background-color: #F0D756;
padding-left: 58px;
}

.beerlist a{
text-decoration:none;
color:black;
font-size:15px;
font-family: 'Raleway', sans-serif;
}

.beerlist li:hover{
box-shadow:inset -1em 0 #6CD6CC;
-webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 0.5s;
}

.beerlist ul li:before {
position: absolute;
top: -0.3em;
left: -0.5em;
width: 1.8em;
height: 1.2em;
font-size: 2em;
line-height: 1.2;
font-weight: bold;
text-align: center;
color: white;
background-color: black;
background-image: linear-gradient(-90deg, orange);

border-radius: 4px;
transform: rotate(-14deg);
-ms-transform: rotate(-14deg);
-webkit-transform: rotate(-14deg);
z-index: 99;
overflow: hidden;
content: counter(li-counter);
counter-increment: li-counter;
}


.biertext{
    text-align: center;

}
.items{
	text-align: center;
	font-weight: bold;
	font-size:1.5rem;
        background-image: linear-gradient(-90deg, red,orange);


}




.columnl {
  float: right;
  width: 40%;
  padding:1rem;
}

.columnr {
    float: right;
    width: 60%;
    padding:1rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*===============================================================*/
/*Contact-pagina [Andreas]*/
/*===============================================================*/
/*pagina*/
#contact-page{
	width:85%;
	height:auto;
	margin: 0% 7.5%;
}
/*gecentreerde titel in div*/
#contact-page .title{
	width:100%;
	height:auto;
	text-align:center;
	background-color:#ffc940;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); /*shadow*/
}

#contact-page .title h1{
	font-size:2rem;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	margin: 1% 0%;
	padding:1% 0%;


}
/*info div*/
#contact-page .info{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	width:50%;
	margin: 1% 25%;
	height:auto;
	background-color:#ffc940;
	padding:1%;
	text-align:center;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
#contact-page .info  p{
	font-size:1.6rem;
	font-family: 'Roboto', sans-serif;
}
/*kaart-div*/
#contact-page .info-map{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	width:50%;
	margin: 1% 25%;
	height:auto;
	background-color:#ffc940;
	padding:1%;
	text-align:center;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
#contact-page .info-map iframe{
	width:100%;
	height:100%;
	border-color:#ffc940;
	border-width:0.2rem;
}
/*div contact-formulier*/
#contact-page .contact-form {
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	width:100%;
	height:auto;
	text-align:center;
	background-color:#ffc940;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25)
}
/*form-title*/
#contact-page .contact-form h3{
	margin:1% 40%;
	padding:0%;
	width:20%;
	font-size:1.4rem;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
#contact-page .contact-form fieldset{
	border:none;

}
/*input-naam*/
#contact-page .contact-form input#name{
	width:15%;
	margin:0.5% 42.5%;
	display:inline-block;
	border-color:#ffbc40;
	border-width:0.2rem;
	border-style:solid;
}
#contact-page .contact-form input#name::placeholder{
	font-size:1.2rem;
	color:#000000;
	font-family: 'Roboto', sans-serif;
}
/*input-mail*/
#contact-page .contact-form input#mail{
	width:15%;
	margin:0.5% 42.5%;
	margin-bottom:1%;
	border-color:#ffbc40;
	border-width:0.2rem;
	border-style:solid;
}
#contact-page .contact-form input#mail::placeholder{
	font-size:1.2rem;
	color:#000000;
	font-family: 'Roboto', sans-serif;

}
/*textarea-boodschap*/
#contact-page .contact-form textarea {
	width:50%;
	height:30vh;
	border-color:#ffbc40;
	border-width:0.2rem;
	border-style:solid;
	margin-bottom:1%;
}
#contact-page .contact-form textarea::placeholder{
	font-size:1.2rem;
	color:#000000;
	font-family: 'Roboto', sans-serif;
	margin:0%;
	padding:0%;
}

/*===============================================================*/
/*Profile-pagina [Andreas]*/
/*===============================================================*/
/*pagina*/
#profiles-page{
	width:85%;
	  height:auto;
	  margin: 0% 7.5%;
  }
  /*titel*/
  #profiles-page h1{
	font-size:2rem;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	margin: 1% 0%;
	padding:1% 0%;
	width:100%;
	height:auto;
	text-align:center;
	background-color:#ffc940;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  }
  /*tabel met inlog gegevens*/
  #profiles-page table{
	width:50%;
	padding:0%;
	height:auto;
	margin-left: 50rem;
  }
  #profiles-page table tbody{
	font-size:1.4rem;
	font-family: 'Roboto', sans-serif;
  }
  #profiles-page table tbody td#left{
	width:46.5%;
	text-align:right;
	padding-right:0.75%;
  
  }
  #profiles-page table tbody td#right{
	width:50%;
	text-align:left;
  }
  /*input-reviews*/
  #profiles-page input{
	width:15%;
	margin: 1% 42.5%;
  }
  
  #profiles-page  label{
	width:15%;
	margin: 1% 42.5%;
	text-align:center;
	font-size:1.4rem;
	font-family: 'Roboto', sans-serif;
  }
  #profiles-page textarea{
	width:40%;
	  height:20vh;
	  border-color:#ffbc40;
	  border-width:0.2rem;
	  border-style:solid;
	  margin:1% 30%;
  
  }
  #profiles-page textarea::placeholder{
	font-size:1.2rem;
	font-family: 'Roboto', sans-serif;
	color:#000000;
  }
  #profiles-page button{
	width:20%;
	height:15%;
	margin:1% 40%;
	padding:1rem;
	text-transform:uppercase;
	font-size:1.2rem;
	font-family:'Roboto' , sans-serif;
	border-radius:0.5rem;
	background-color:#ffc966;
	border-width:0.1rem;
	color:#000000;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  
  }
  #profiles-page button:hover{
	background-color:#ffa500;
  }

/*===============================================================*/
/*Reviews-pagina [Jonathan]*/
/*===============================================================*/
#reviewpage #cafe .cafe .cafe-img img{
	width: 20%;
	height: 20%;
} 

/*===============================================================*/
/*RANKING-pagina [Jonathan]*/
/*===============================================================*/
#ranking-page{
	width:50%;
	height:auto;
	margin: 0% 25%;
}
#ranking-page .bier, #ranking-page .cafe{
	margin-top: 2rem;
}

#ranking-page .title{
	text-align: center;
}

#ranking-page .cafe-img, #ranking-page .bier-img{
	width: 50%;
	height: 50%;
}

#ranking-page .cafe h3, #ranking-page .bier h3{
	font-size: 1.3rem;
}

/*===============================================================*/
/*REGISTER-pagina [Jonathan]*/
/*===============================================================*/

#register-page{
	width:65%;
	height:auto;
	margin: 0% 25%;
}

#register-page form{
	margin:0% 19% ;
}

#register-page input[type=text], #register-page input[type=password], #register-page input[type=email]{
	width: 30%;
	height: 2.3rem;
	margin-left: 3rem;
	margin-top: 1.5rem;
}

#register-page button{
	margin-top: 1.2rem;
	margin-left: 23.6rem;
	padding: 0.25rem;
	border-radius: 5px;
	width: 15%;
}

#register-page label{
	width: 15%;
}

/*===============================================================*/
/*algemene elementen, deze komen terug op elke pagina [Andreas]*/
/*===============================================================*/
/*button terug naar boven*/
#contact-page .backtotop{
	width:100%;
	height:auto;
	text-align:center;
	padding:0%;
	margin:1% 0%;

}
#contact-page .backtotop a{
	text-decoration: none;
	padding: 0% ;
	margin: 0%;
	font-size:1.2rem;
	text-transform: uppercase;
	color:#000000;
	font-family: 'Roboto', sans-serif;
}

.center-info{
	text-align: center;
	margin-left: 23rem;
	border-radius: 3px;
	width: 25%;
	font-size: 1.3rem;
}

.error{
	border: 3px solid red;
}

.success{
	border: 3px solid green;
}

.headerbutton{
	text-decoration: none;
	border: 2px solid darkorange;
	border-radius: 5px;
	background-color: orange;
	padding: 0.25rem;
	margin-left: 1rem;
	color: white;
}

.headerbutton:hover{
	text-decoration: none;
	border-radius: 2px solid orange;
	background-color: darkorange;
	color:white;
}
