html{
	overflow: scroll;
    background: url("../img/bckgr.jpg") no-repeat center center fixed;
    
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
	font-family: 'Muli', sans-serif;

    
}

.topbanner{
	width:100%;
	height: 150px;
}

.hidden{
	display: none;
}

.biervdweek{
	align-items: center;
	font-size: 60;
	text-align: left;
    color: white;
	width: 30%;
	box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-repeat: no-repeat;
    border: solid 1px #3498db;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 1.5rem 6rem;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(-90deg, red,orange);

}

.topvijf{
	font-size: 40;
    font-weight: bold;
	text-align: left;
	width: 30%;
    color:white;
	box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    
    background-repeat: no-repeat;
    border: solid 1px #3498db;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 1.5rem 6rem;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(-90deg, orange,red);

}

.headline{
	text-align: center;
	font-style: normal;
	font-size:8rem;
    font-weight: bold;
    float:right;
	-webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
   padding:4rem;
}

.introtext{
    font-size:2rem;
   padding:5rem;
}


.beerlist{
width:410px;
margin:0 auto;
}
.beerlist ul {
list-style-type: none;
list-style-type: decimal !ie; /*IE 7- hack*/
margin: 0;
margin-left: 1em;
padding: 0;
counter-reset: li-counter;
}
.beerlist ul li{
position: relative;
margin-bottom: 1.5em;
padding: 0.5em;
background-color: #F0D756;
padding-left: 58px;
}

.beerlist a{
text-decoration:none;
color:black;
font-size:15px;
font-family: 'Raleway', sans-serif;
}

.beerlist li:hover{
box-shadow:inset -1em 0 #6CD6CC;
-webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 0.5s;
}

.beerlist ul li:before {
position: absolute;
top: -0.3em;
left: -0.5em;
width: 1.8em;
height: 1.2em;
font-size: 2em;
line-height: 1.2;
font-weight: bold;
text-align: center;
color: white;
background-color: black;
background-image: linear-gradient(-90deg, orange);

border-radius: 4px;
transform: rotate(-14deg);
-ms-transform: rotate(-14deg);
-webkit-transform: rotate(-14deg);
z-index: 99;
overflow: hidden;
content: counter(li-counter);
counter-increment: li-counter;
}


.biertext{
    text-align: center;

}
.items{
	text-align: center;
	font-weight: bold;
	font-size:1.5rem;
        background-image: linear-gradient(-90deg, red,orange);


}




.columnl {
  float: right;
  width: 40%;
  padding:1rem;
}

.columnr {
    float: right;
    width: 60%;
    padding:1rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}